
<div class="player">
 
  <div class="landscape">
    <div class="row">
      <div class="button up"><i>UP</i></div>
      <div class="button down"><i>DOWN</i></div>
    </div>
  </div>
 
  <div class="portrait">
    <div class="row">
      <div class="button up"><i>UP</i></div>
    </div>
    <div class="row">
      <div class="button down"><i>DOWN</i></div>
    </div>
  </div>

</div>
