
<div class="player p{{index}}">
 
  <div class="landscape">
    <div class="row">
      <div class="button up">
        <i class="icon icon-chevron-up"></i>
      </div>
      <div class="button down">
        <i class="icon icon-chevron-down"></i>
      </div>
    </div>
  </div>
 
  <div class="portrait">
    <div class="row">
      <div class="button up">
        <i class="icon icon-chevron-up"></i>
      </div>
    </div>
    <div class="row">
      <div class="button down">
        <i class="icon icon-chevron-down"></i>
      </div>
    </div>
  </div>

</div>
