
<h1>register here</h1>

<p>
  To play the game, enter your details below.
  The top 3 players today will win an iPad mini!!
  Of course we won't give your details to anyone.
</p>

<form>
  
  <label for="first-name">First name</label>
  <input id="first-name" type="text" value="John" required />

  <label for="last-name">Last name</label>
  <input id="last-name" type="text" value="Doe" required />

  <label for="mobile">Mobile phone</label>
  <input id="mobile" type="tel" value="0400111222" required pattern="[0-9]{10}" />

  <button id="register">
    <i class="icon icon-gamepad"></i>
    Join the game!
  </button>

</form>
