<section id="match">

  <h1>Current match</h1>

  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Mobile</th>
      <th>Game level</th>
      <th>Actions</th>
    </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>0412345678</td>
        <td>1</td>
        <td><a class="forfeit" href="#">forfeit</a></td>
      </tr>
      <tr>
        <td>Bill</td>
        <td>Cosby</td>
        <td>0412345678</td>
        <td>3</td>
        <td><a class="forfeit" href="#">forfeit</a></td>
      </tr>
  </table>

  <button>
    <i class="icon icon-resize-full"></i>
    Try to dislodge ball
  </button>
  
</section>
