<section id="pin">
  
  <h1>Your PIN: {{pin}}</h1>

  <ol>
    <li>Connect to the <strong>TwPublic</strong> network.</li>
    <li>Navigate to <a>10.11.12.84:8080</a> on your phone</li>
    <li>Enter the PIN number to play</li>
  </ol>

  <button>Next player</button>

</section>
