<section id="register">
  
  <h1>Register new player</h1>

  <form>
    
    <label>First name</label>
    <input type="text" value="" />

    <label>Last name</label>
    <input type="text" value="" />

    <label>Contact number</label>
    <input type="tel" value="" />

    <label>Company</label>
    <input type="text" value="" />

    <label>Role</label>
    <input type="select">
      <option>BA</option>
      <option>Dev</option>
      <option>QA</option>
      <option>IM</option>
      <option>PM</option>
    </input>
    
    <input type="button" value="Register" />
    
  </form>

</section>
