<section id="register">
  
  <h1>Register new player</h1>

  <form>
    
    <div class="field">
      <label>First name</label>
      <input type="text" value="" />
    </div>
    
    <div class="field">
      <label>Last name</label>
      <input type="text" value="" />
    </div>
    
    <div class="field">
      <label>Contact number</label>
      <input type="tel" value="" />
    </div>
    
    <div class="field">
      <label>Company</label>
      <input type="text" value="" />
    </div>
    
    <div class="field">
      <label>Role</label>
      <input type="text" value="" />
    </div>
    
    <div class="field">
      <label></label>
      <button>Register</button>
    </div>
    
  </form>

</section>
