@import 'nib'
@import 'css/forms'
@import 'css/register'
@import 'css/lobby'
@import 'css/gamepad'

global-reset()

*
  box-sizing: border-box

body
  margin: 0
  -webkit-font-smoothing: antialiased

#page
  background: #eee
  border-left: 1em solid #333
  bottom: 0
  color: #333
  left: 0
  padding: 1em 2em
  position: absolute
  right: 0
  top: 0

h1
  font-size: 2em
  padding: 0.5em 0

p
  font-size: 1.1em
  line-height: 1.4em
  margin: 1em 0 2em 0
