@import 'nib'
@import 'css/register'
@import 'css/gamepad'

global-reset()

*
  box-sizing: border-box

body
  margin: 0
  -webkit-font-smoothing: antialiased

#page
  background: #eee
  border-left: 1em solid #333
  bottom: 0
  color: #333
  left: 0
  padding: 1em 2em
  position: absolute
  right: 0
  top: 0

h1
  font-size: 2em
  padding: 0.5em 0

p
  line-height: 1.4em
  margin: 1em 0 2em 0

button
  background: #ddd
  border: 1px solid #999
  color: #333
  font-size: 1em
  margin: 1em 0
  padding: 0.5em
  width: 15em
  i
    margin-right: 1em
