@import 'nib'

global-reset()

*
  box-sizing: border-box

body
  background: #eee
  color: #333
  margin: 0
  padding: 2em
  -webkit-font-smoothing: antialiased

h1
  font-size: 2em
  margin: 1em 0

table
  border: 1px solid #333

th, td
  padding: 0.5em

th
  font-weight: bold
  width: 8em

td
  border-top: 1px solid #333

a
  color: #1865ff
  cursor: pointer
  text-decoration: none
