
nav

  background-color: #333
  color: #eee
  width: 10em

  h1
    margin: 1em
    text-align: center
    
  ul
    min-height: 30em
    
  li
    background-color: #333
    cursor: pointer
    display: block
  i
    margin-right: 0.5em
  a
    color: #eee
    display: block
    padding: 0.8em

  li.current
    background-color: #eee;
    a
      color: #333;
        
