@import 'nib'

global-reset()

@import '_nav'
@import '_register'
@import '_players'
@import '_game'

*
  box-sizing: border-box

body
  background-color: #eee
  color: #333
  font-size: 18px
  margin: 0
  -webkit-font-smoothing: antialiased

#container
  display: table

nav
  bottom: 0
  display: block
  position: absolute
  top: 0
  width: 10em
        
#page
  display: block
  margin-left: 10em
  padding: 2em 3em

h1
  font-size: 1.8em
  margin-bottom: 1.5em

a
  color: #1865ff
  cursor: pointer
  text-decoration: none


table
  background: #f9f9f9
  border: 1px solid #333

thead
  background-color: #333
  color: #eee

th, td
  padding: 0.5em

th
  font-weight: bold
  width: 8em

td
  border-top: 1px solid #333

td.empty
  font-style: italic

.dataTables_wrapper
  .dataTables_length
    float: left
    margin-bottom: 1em
  .dataTables_filter
    float: right
  .dataTables_info
    float: left
  .dataTables_paginate
    float: right
  table
    clear: both
    margin-bottom: 1em
