@import 'nib'

@import '_register'
@import '_players'
@import '_game'


global-reset()

*
  box-sizing: border-box

body
  background-color: #eee
  color: #333
  font-size: 18px
  margin: 0
  -webkit-font-smoothing: antialiased

#container
  display: table

nav
  background-color: #333
  display: table-cell
  width: 10em
  ul
    min-height: 30em
  li
    background-color: #333
    border-top: 1px solid #666
    border-bottom: 1px solid #000
    cursor: pointer
    display: block
    padding: 0.8em
  i
    margin-right: 0.5em
  a
    color: #eee
    
#page
  display: table-cell
  min-height: 30em
  padding: 2em

h1
  font-size: 1.8em
  margin: 2em 0 1em 0
  i
    margin-right: 1em

h1:first-child
  margin-top: 0

table
  background: #f9f9f9
  border: 1px solid #333

th, td
  padding: 0.5em

th
  font-weight: bold
  width: 8em

td
  border-top: 1px solid #333

a
  color: #1865ff
  cursor: pointer
  text-decoration: none

td.empty
  font-style: italic
