@import 'nib'

global-reset()

@import '_nav'
@import '_register'
@import '_players'
@import '_game'

*
  box-sizing: border-box

body
  background-color: #eee
  color: #333
  font-size: 18px
  margin: 0
  -webkit-font-smoothing: antialiased

#container
  display: table

nav
  display: table-cell
        
#page
  display: table-cell
  min-height: 30em
  padding: 2em

h1
  font-size: 1.8em
  margin: 2em 0 1em 0
  i
    margin-right: 1em

h1:first-child
  margin-top: 0

a
  color: #1865ff
  cursor: pointer
  text-decoration: none


table
  background: #f9f9f9
  border: 1px solid #333

th, td
  padding: 0.5em

th
  font-weight: bold
  width: 8em

td
  border-top: 1px solid #333

td.empty
  font-style: italic
