@import 'nib'

global-reset()

body
  background-color: #000

#containerx
  height: 600px
  margin: 0 auto
  position: relative
  width: 960px

canvas
  position: absolute

#gameView
  z-index: 0
  
#debugView
  z-index: 1
