#page.connect

  h1
    text-align: center
  
  input
    color: #666
    display: block
    font-size: 2em
    margin: 1em auto
    padding: 0.5em
    text-align: center
    width: 90%

  .note
    font-style: italic
    text-align: center
