@import 'nib'

form

  label
    margin-bottom: 0.5em
  
  input
    border: 1px solid #999
    outline: 0

  button
    background: #ddd
    border: 1px solid #999
    color: #333
    font-size: 1em
    margin: 1em 0
    padding: 0.5em
    width: 15em
    i
      margin-right: 1em

  input[type=text]:required,
  input[type=tel]:required
    background: #fff url('/images/asterisk.png') no-repeat 98% center

  input[type=text]:focus:valid,
  input[type=tel]:focus:valid
    background: #fff url('/images/valid.png') no-repeat 98% center
    border-color: #28921f
    box-shadow: 0 0 5px #5cd053

  input[type=text]:focus:invalid,
  input[type=tel]:focus:invalid
    background: #fff url('/images/invalid.png') no-repeat 98% center
    border-color: #b03535
    box-shadow: 0 0 5px #d45252
