P1COLOR = #0065a3
P2COLOR = #d65100

#page.gamepad

  background-image: url('/device/images/stripes.png')
  padding: 0

  #exit
    color: #fff
    font-size: 1.1em
    margin: 0 auto
    padding: 0.5em
    text-align: center
    width: 5em
    text-shadow: 0 0 5px #333

  .icon
    bottom: 0.3em
    display: block
    font-size: 9em
    position: absolute
    text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 31px rgba(255,255,255,0.7)
  
  .icon.pressed
      transform:scale(1.2)
  
  #down
    left: 15%

  #up
    right: 15%

#page.gamepad.p1
  background-color: lighten(P1COLOR, 30%)
  border: 1em solid P1COLOR
  #exit
    background: P1COLOR
  .icon
    color: P1COLOR

#page.gamepad.p2
  background-color: lighten(P2COLOR, 30%)
  border: 1em solid P2COLOR
  #exit
    background: P2COLOR
  .icon
    color: P2COLOR
