P1COLOR = #0065a3
P2COLOR = #d65100

#page.gamepad

  border: 0
  padding: 0

  .player, .portrait, .landscape
    display: table
    height: 100%
    width: 100%

  .row
    display: table-row

  .button
    display: table-cell
    vertical-align: middle
  
  .portrait
    .row
      height: 50%
    .button
      width: 100%
    .button.up
      border-bottom: 0
    .button.down
      border-top: 0

  .landscape
    .row
      height: 100%
    .button
      width: 50%
    .button.up
      border-right: 0
    .button.down
      border-left: 0
  
  .button
    border: 20px solid #000
    display: table-cell
    i
      background-size: 10em
      display: block
      height: 10em
      margin: 0 auto
      width: 10em

  .p1
    .button
      border-color: P1COLOR
      background-color: lighten(P1COLOR, 30%)
      i
        background-image: url('/device/images/button-p1.png')
      &.pressed i
        background-image: url('/device/images/button-p1-pressed.png')
    
  .p2
    .button
      border-color: P2COLOR
      background-color: lighten(P2COLOR, 30%)
      i
        background-image: url('/device/images/button-p2.png')
      &.pressed i
        background-image: url('/device/images/button-p2-pressed.png')

@media (orientation: landscape)
  #page.gamepad
    .portrait
      display: none
  
@media (orientation: portrait)
  #page.gamepad
    .landscape
      display: none
