
h1
  font-size: 2em
  text-align: center

input, button
  background-color: #fff
  border: 1px solid #333
  color: #333
  display: block
  font-size: 1.8em
  margin: 1em auto
  padding: 0.5em
  text-align: center
  width: 90%

.note
  font-style: italic
  text-align: center
