
h1
  font-size: 2em
  text-align: center

input, button
  color: #666
  display: block
  font-size: 1.8em
  margin: 1em auto
  padding: 0.5em
  text-align: center
  width: 90%

.note
  font-style: italic
  text-align: center
