
#gamepad
  background-color: #0085d6
  background-image: url('/stripes.png')
  height: 17em

#gamepad #exit
  background: #0085d6
  border-left: 1px solid #0065a3
  border-bottom: 1px solid #0065a3
  border-right: 1px solid #0065a3
  box-shadow: 0 0 7px rgba(0,0,0,0.5)
  color: #fff
  font-size: 1.1em
  margin: 0 auto
  padding: 0.5em
  text-align: center
  width: 5em
  text-shadow: 0 0 5px #333

#gamepad .icon
  bottom: 0.3em
  color: #0085d6
  display: block
  font-size: 9em
  position: absolute
  text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 31px rgba(255,255,255,0.7)
    
#gamepad #down
  left: 15%

#gamepad #up
  right: 15%
