#register

  label
    display: block
    margin-top: 1em

  input
    color: #666
    display: block
    font-size: 1em
    padding: 0.5em
    width: 15em

  button
    background: #ddd
    border: 1px solid #999
    color: #333
    font-size: 1em
    margin: 1em 0
    padding: 0.5em
    width: 15em
    i
      margin-right: 1em